.add-task {
    background-color: blue;
    border-color: blue;
    color: white;
    position: relative;
    top: 10px;
    width: 90px;
    height: 30px;
}

input {
    width: 160px;
    height: 40px;
}