.change-topic {
    background-color: blue;
    border-color: blue;
    color: white;
    position: relative;
    top: 5px;
    width: 90px;
    height: 30px;
    font-size: 10px;
}

.change-topic:hover {
    background-color: green;
    border-color: green;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

.dark-theme {
    background-color: black;
    color: #fff;
}