{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Настройки</title>
    <link
      href="{% static 'todoapp/css/settings.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <h1>Настройки приложения</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="change-topic" id="change-topic">
          Изменить тему
        </button>
      </form>
    </div>
  </body>
</html>
