{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Настройки</title>
    <link
      href="{% static 'todoapp/css/settings.css' %}"
      rel="stylesheet"
      type="text/css"
      id="theme"
    />
    <style>
      .centered {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="centered">
      <h1>Настройки приложения</h1>
      <input type="checkbox" id="darkmode-toggle" />
      <label for="darkmode-toggle"></label>
    </div>
  </body>
</html>
